body {
  width: 150px;
  height: 150px;
}

li {
  padding-top: 10px;
  padding-left: 0px;
}

h2,
.header,
h3,
p,
#second {
  text-align: center;
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 5px;
}
a {
  text-decoration: none;
}

.navbar {
  background-color: white;
  bottom: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  height: 50px;
  width: 150px;
}
.header {
  overflow: hidden;
  background-color: white;
  top: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 5fr) minmax(0, 1fr);
  grid-column-gap: 5px;
}
.navbar a {
  float: left;
  display: block;
  font-size: 2em;
  color: black;
  padding: 14px 14px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}
/* style for alt page button list */
.alt-btns {
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid darkgrey;
  border-radius: 12px;
  width: 125px;
  display: inline-block;
  padding: 12px;
  margin-left: 10px;
}

.alt-btns:hover {
  background-color: #e7e7e7;
}
/* can have longer store names due to this */
h4 button span {
  display: inline-block;
  width: 100px;
}
.alt-btns span:after {
  content: "\00bb";
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.alt-btns:hover span {
  padding-right: 5px;
}

.alt-btns:hover span:after {
  opacity: 1;
  right: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.list-alt {
  display: grid;
  grid-template-columns: 1fr;
}

.curr-pg {
  color: rgb(253, 128, 128);
}
/* style for home page single button */
#alt-btn, #score-btn {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid darkgrey;
  border-radius: 12px;
  width: 100%;
  outline-color: white;
}

#alt-btn:hover, #score-btn:hover {
  background-color: #e7e7e7;
}

.wrapper,
.list-alt {
  display: grid;
  grid-template-columns: 1fr;
}

.web-app {
  padding: 12px;
  border: none;
  line-height: 14px;
  border-radius: 4px;
  opacity: 0.85;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  background-color: rgb(76, 53, 70);
  color: white;
  width: 120px;
  text-align: center;
  width: 100%;
}
.web-app:hover {
  opacity: 1;
}

.close-top,
.back-top {
  height: 15%;
  border: none;
  background-color: white;
  cursor: pointer;
  outline-color: white;
}

.margin {
  margin-left: -3px; /*sketchy*/
  font-size: 16px;
}

.main-content {
  height: 105px;
  overflow-y: scroll;
}

.pad-account {
  padding-right: 10px;
}

.user-avatar {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

#user-name,
#sust-tier {
  margin: 0px;
}

.error-banner {
  padding: 4px;
  border: none;
  line-height: 14px;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  background-color: white;
  color:  rgb(253, 128, 128);
  width: 130px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  font-weight: 700;
}

#first {
  height: 90px;
  overflow: hidden;
}

.alt-option {
  margin-bottom: 5px;
}

#location-marker{
  margin-right: 5px;
}

.yelp-subheader{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 5px;
}

.yelp-subheader > p{
  margin-bottom: 0px;
}

#company-name{
  margin-bottom:0px;
}

#third{
  display:none;
}