body {
  width: 150px;
  height: 150px;
}

li {
  padding-top: 10px;
  padding-left: 0px;
}

h2,
.header,
h3,
p {
  text-align: center;
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 5px;
}
a {
  text-decoration: none;
}

.navbar {
  background-color: white;
  bottom: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  height:50px;
  width:150px;
}
.header {
  overflow: hidden;
  background-color: white;
  top: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 5fr) minmax(0, 1fr);
  grid-column-gap: 5px;
}
.navbar a {
  float: left;
  display: block;
  font-size: 2em;
  color: black;
  padding: 14px 14px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

#alt-btns {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  width: 100%;
}

#alt-btns:hover {
  background-color: #e7e7e7;
}

#alt-btns span:after {
  content: "\00bb";
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

#alt-btns:hover span {
  padding-right: 25px;
}

#alt-btns:hover span:after {
  opacity: 1;
  right: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.list-alt {
  display: grid;
  grid-template-columns: 1fr;
}

.curr-pg {
  color: rgb(253, 128, 128);
}

#alt-btn {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  width: 100%;
}

#alt-btn:hover {
  background-color: #e7e7e7;
}

.wrapper,
.list-alt {
  display: grid;
  grid-template-columns: 1fr;
}

.google {
  padding: 12px;
  border: none;
  line-height: 14px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  background-color: rgb(253, 128, 128);
  color: white;
  width: 125px;
  text-align: center;
  margin-top: 10px;
}

.google:hover {
  opacity: 1;
}

.web-app{
  padding: 12px;
  border: none;
  line-height: 14px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  background-color: rgb(254, 231, 118);
  color: white;
  width: 125px;
  text-align: center;
}
.web-app:hover {
  opacity: 1;
}

.close-top,
.back-top {
  height: 50%;
  border:none;
  background-color: white;
  cursor: pointer;
}

.close-top,
.back-top :focus{
  outline-color:white;
}

.margin {
  margin-left: -3px; /*sketchy*/
}

.main-content{
  height:105px;
  overflow-y: scroll;
}

.pad-account{
  padding-right: 10px;
}